@import "./partials/pagination";
@import "./partials/button";

body {
  background-color: #f9f871;
}

.arrival {
  justify-content: center;
}

.produts__arrival {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  span {
    font-family: "Bungee Spice", sans-serif;
  }
  h1 {
    font-size: 3rem;
    height: 100px;
    padding: 2px;
  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 1.4rem;
      text-align: center;
      margin: 5px 0px;
    }
  }
}

.categories {
  outline: none;
}
